CLIENT_GATEWAY_PORT=3000

PAYMENTS_MS_PORT=3003
#obtener de https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3003/payments/success
STRIPE_CANCEL_URL=http://localhost:3003/payments/cancel
#obtener de , signing secret:  https://dashboard.stripe.com/test/workbench/webhooks/we_1QAE5iRxWaqzj8Pu9ioETAeo
STRIPE_END_POINT_SECRET=