[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/NestJs-Microservicios-Emanuel-24/client-gateway.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/NestJs-Microservicios-Emanuel-24/nest-products-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/NestJs-Microservicios-Emanuel-24/nest-orders-microservice.git
[submodule "payments-ms"]
	path = payments-ms
	url = https://github.com/NestJs-Microservicios-Emanuel-24/payments-ms.git
